###########
# Aliases #
###########

## K8s Aliases
alias ktail="stern"
alias krun="kubectl run hans-shell --rm -i -tty --image ubuntu:devel -- bash"
alias kattach="kubectl attach hans-shell -c hans-shell -i -t"
alias kgivs="kubectl get virtualservice.networking.istio.io"
alias kgigw="kubectl get gateway.networking.istio.io"
alias kgidr="kubectl get destinationrule.networking.istio.io"
alias kgise="kubectl get serviceentry.networking.istio.io"

# System Aliases
alias docker="podman"

# Tools Aliases
alias mdlint="markdownlint"
