[user]
    name = Hans Knecht
[core]
    editor = vim
    excludesfile = ~/.gitignore.global
    fsmonitor = true
[tag]
    sort = version:refname
[init]
        defaultBranch = main
[push]
    default = upstream
    autosetupremote = true

[fetch]
        prune = true
        pruneTags = true
        all = true

[rerere]
        enabled = true
        autoupdate = true

[pull]
    rebase = true
	ff = only
[branch]
    autosetuprebase = always
    sort = -committerdate
[merge]
    conflictstyle = zdiff3 
[log]
    date = local
[advice]
    statusHints = false
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[commit]
    verbose = true
    gpgsign = true
[init]
    defaultBranch = main
[include]
    path = ~/.local/gitconfig

[help]
        autocorrect = prompt

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[git-town]
	ship-delete-tracking-branch = true

[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true
[alias]
	append = town append
	compress = town compress
	contribute = town contribute
	diff-parent = town diff-parent
	down = town down
	hack = town hack
	delete = town delete
	observe = town observe
	park = town park
	prepend = town prepend
	propose = town propose
	rename = town rename
	repo = town repo
	set-parent = town set-parent
	ship = town ship
	sync = town sync
	up = town up
