[user]
    name = Hans Knecht
[core]
    editor = vim
    excludesfile = ~/.gitignore.global
[push]
    default = upstream
    autosetupremote = true
[pull]
    rebase = true
[branch]
    autosetuprebase = always
[merge]
    conflictstyle = diff3
[log]
    date = local
[advice]
    statusHints = false
[diff]
    mnemonicprefix = true
    renames = copies
[commit]
    verbose = true
    gpgsign = true
[init]
    defaultBranch = main
[include]
    path = ~/.local/gitconfig
